################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlogApp/FileContentIndex
/BlogApp/App_Data/BlogApp.Data.BlogDbContext.mdf
*.ldf
/BlogApp/App_Data/BlogApp.Data.BlogDbContext_log.ldf
/BlogApp/bin/BlogApp.dll
/BlogApp/bin/BlogApp.pdb
