@model List<BlogApp.ViewModels.ReportPostViewModel>

@{
    ViewBag.Title = "Reported Posts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Reported Posts</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Post Title</th>
            <th>Reporter Name</th>
            <th>Reason</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td>@report.Post.Title</td>
                <td>@report.RepoeterName</td>
                <td>@report.Reason</td>
                <td>
                    <div class="btn-group">
                        @using (Html.BeginForm("AcceptReportToPost", "Blog", new { postId = report.PostId }, FormMethod.Post))
                         {
                            <button type="submit" class="btn btn-success">Accept</button>
                         }

                        @using (Html.BeginForm("RejectReportToPost", "Blog", new { postId = report.PostId }, FormMethod.Post))
                         {
                            <button type="submit" class="btn btn-danger">Reject</button>
                         }

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
